.Footer {
    position: relative;
    clear: both;
    height: 40px;
    left: 0;
    bottom: 0;
    width: 100%;
    margin-top: auto;
    text-align: center;
    background-image: url("../../../assets/images/cool-background.png");
    border-top: #edf1f7;
    display: top;
    margin-top: auto;
    box-shadow: 0 .5rem 1rem 0 rgba(44,51,73,.1);
}
