.DrawerToggle {
    width: 10%;
    height: 50px;
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    align-items: center;
    padding: 10px 10px;
    margin: 40px 0px 0px 10px;
    box-sizing: border-box;
    cursor: pointer;
}

.DrawerToggle div {
    width: 90%;
    height: 2px;
    background-color: black;
}

@media (min-width: 500px) {
    .DrawerToggle {
        display: none;
    }
}
